﻿@model List<DataAccess.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    foreach(var User in Model)
    {
        <u>@User.FirstName</u>
    }
    <br />
    @ViewBag.Amparo
    @Html.Raw("<B> HELLO </B>")
}
